.dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 400px; 
    border-radius: 8px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  .dialog-body {
    text-align: center;
  }
  

  h1 {
    font-size: 24px;
    margin-bottom: 15px; 
    color: #333;
  }
  

  .mat-dialog-content {
    margin-bottom: 20px;
  }
  

  button {
    min-width: 80px;
    margin: 0 10px;
  }
